
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
}

body{
    background-color: rgb(17, 22, 48);
}

.navegador{
    width: 100%;
}

p{
    font-family: "Kanit", serif;
    font-weight: 100;
}

h3{
    font-family: "Kanit", serif;
}

nav{
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.menu{   
    display: flex;
    font-size: 20px;
}

.menu a{
    background-image: url(../img/Rectangle\ 81.png);
    padding: 25px 35px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    text-decoration: none;
    font-family:  "Kanit", serif;
    margin-right: 50px;
}


.padre1{
    margin-top: 5%;
    margin-left: 19%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 600px;
}



.texto{
    width: 55%;
}

.texto h1{
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    font-size: 38px;
    font-family:  "Kanit", serif;
}


.texto p{
    font-size: 25px;
    color: rgb(255, 255, 255);
}


.botones{
    display: flex;
    margin-top: 50px;
}

.boton1{
    margin-right: 80px;
}

.boton1 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 10px;
    font-size: 24px;
    font-family: "Kanit", serif;

}

.boton2 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 10px;
    font-size: 24px;
    font-family: "Kanit", serif;

}


.habilidades{
    background-image: url(../img/Rectangle\ 80.png);
    margin-top: 4%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 1003px;
}


.habilidades p{
    margin-top: 30px;
    margin-bottom: 60px;
    color: #ffffff;
    font-size: 30px;
    font-family:  "Kanit", serif;

}

.habilidades h2{
    color: rgb(132, 189, 209);
    font-size: 36px;
    font-family:  "Kanit", serif;
}

.lenguajes{
    margin-top: 70px;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bloque1{
    display: flex;
    margin-bottom: 6%;
}

.bloque2{
    display: flex;
}

.bloque1 img{
    width: 120px;
    height: 130px;
    margin-right: 190px;
}

.bloque2 img{
    width: 120px;
    height: 130px;
    margin-right: 190px;
}

.bloque1 p{
    font-size: 32px;
}

.bloque2 p{
    font-size: 32px;
}

.bloque2 .leng8 img{
    width: 170px;
    
}

.titulo img{
    align-items: center;
}

.proyectos{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.proyectos h2{
    margin-top: 60px;
    color: rgb(132, 189, 209);
    font-size: 36px;
    font-family:  "Kanit", serif;
}

.proyectos img{
    margin-top: 10%;
}
.proyectos p{
    margin-top: 30px;
    color: #ffffff;
    font-size: 30px;
    font-family:  "Kanit", serif;
}

.proyec1{
    margin-top: 6%;
    display: flex;
    justify-content: center;
}

.proyec1 .image img{
    border-radius: 10px;
}

.image{
    margin-right: 2%;
}

.texto1{
    width: 35%;
}

.texto1 img{
    margin-top: 1%;
}

.texto1 a{
    color: rgb(132, 189, 209);
    font-size: 20px;
    font-family:  "Inter", serif;
}

.texto1 h2{
    color: rgb(132, 189, 209);
    font-size: 36px;
    margin-bottom: 3%;
    font-family:  "Kanit", serif;

}

.texto1 h3{
    margin-top: 3%;
    color: rgb(255, 255, 255);
    font-size: 29px;
}

.texto1 p{
    margin-top: 3%;
    margin-bottom: 4%;
    color: rgb(255, 255, 255);
    font-size: 24px;
}

.proyec2{
    margin-top: 6%;
    display: flex;
    justify-content: center;
}

.proyec2 .image2 img{
    border-radius: 10px;
}

.image2{
    margin-left: 2%;
}

.texto2 {
    width: 35%;

}

.texto2 img{
    margin-top: 1%;
}

.texto2 a{
    color: rgb(132, 189, 209);
    font-size: 20px;
    font-family:  "Inter", serif;
}

.texto2 h2{
    color: rgb(132, 189, 209);
    font-size: 36px;
    margin-bottom: 3%;
    font-family:  "Kanit", serif;

}

.texto2 h3{
    margin-top: 3%;
    color: rgb(255, 255, 255);
    font-size: 29px;
}

.texto2 p{
    margin-top: 3%;
    margin-bottom: 4%;
    color: rgb(255, 255, 255);
    font-size: 24px;
}

.proyec3{
    margin-top: 6%;
    display: flex;
    justify-content: center;
}

.image3{
    margin-right: 2%;
}

.proyec3 .image3 img{
    border-radius: 10px;
}

.texto3{
    width: 35%;

}

.texto3 img{
    margin-top: 1%;
}

.texto3 a{
    color: rgb(132, 189, 209);
    font-size: 20px;
    font-family:  "Inter", serif;
}

.texto3 h2{
    color: rgb(132, 189, 209);
    font-size: 36px;
    margin-bottom: 3%;
    font-family:  "Kanit", serif;

}

.texto3 h3{
    margin-top: 3%;
    color: rgb(255, 255, 255);
    font-size: 29px;
}

.texto3 p{
    margin-top: 3%;
    margin-bottom: 4%;
    color: rgb(255, 255, 255);
    font-size: 24px;
}

.proyec4{
    margin-top: 6%;
    display: flex;
    justify-content: center;
    margin-bottom: 6%;
}

.image4{
    margin-left: 2%;
}

.proyec4 .image4 img{
    border-radius: 10px;
}

.texto4{
    width: 35%;

}

.texto4 img{
    margin-top: 1%;
}

.texto4 a{
    color: rgb(132, 189, 209);
    font-size: 20px;
    font-family:  "Inter", serif;
}

.texto4 h2{
    color: rgb(132, 189, 209);
    font-size: 36px;
    margin-bottom: 3%;
    font-family:  "Kanit", serif;
}

.texto4 h3{
    margin-top: 3%;
    color: rgb(255, 255, 255);
    font-size: 29px;
}

.texto4 p{
    margin-top: 3%;
    margin-bottom: 4%;
    color: rgb(255, 255, 255);
    font-size: 24px;
}

.formu{
    background-image: url(../img/con1\ \(6\).png);
    margin-top: 8%;
    height: 916px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info{
    margin-left: 5%;
}

.info h3{
    color: #ffffff;
}

.info h2{
    color: #ffffff;
    font-size: 42px;
    margin-bottom: 10%;
    font-family: "Kanit" serif;
}

.info p{
    color: #ffffff;
    font-size: 25px;
    width: 60%;
}


.telefono h3{
    margin-top: 10%;
    margin-left: 20%;
    font-size: 20px;
}

.telefono img{
    margin-top: -15px;
    position: absolute;
}

.correo h3{
    margin-top: 20%;
    margin-left: 20%;
    font-size: 20px;
}

.correo img{
    margin-top: -15px;
    position: absolute;
}

.ubi h3{
    margin-top: 20%;
    margin-left: 20%;
    font-size: 20px;
}

.ubi img{
    margin-top: -25px;
    position: absolute;
}

.formulario{
    background-image: url(../img/Rectangle\ 63.png);
    height: 512px;
    width: 522px;
    margin-right: 5%;
}

.formulario div{
    margin-top: 4%;
    margin-left: 5%;
}

.formulario input{
    width: 449px;
    height: 69px;
    border-radius: 10px;
    color: #ffffff;
    background-color: black;
}

.formulario div input:hover{
    transition: 0.3s ease;
    background-color: rgb(36, 44, 86);
}
.formulario div input::placeholder{
    padding-left: 20px;
    font-family: "Kanit", serif;
}

.name input{
    margin-top: 6%;
    font-size: 20px;
}

.co input{
    font-size: 20px;
}

.mensaje input{
    height: 127px;
    margin-top: 6%;
    font-size: 20px;
}

.botonenviar input {
    width: 215px;
    color: #ffffff;
    font-size: 20px;
    font-family: "Kanit", serif;
}

@media screen and (max-width: 786px) { 
    nav {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 10px;
    }

    .menu {
        flex-direction: row; 
        font-size: 16px; 
        margin-top: 10px; 
        margin-left: 15%;
        margin-top: 10%;
    }

    .menu a {
        margin: 10px 0; 
        padding: 15px 25px; 
        font-size: 16px; 
        margin-right: 20%;
    }

    .padre1 {
        flex-direction: column; 
        align-items: center;
        margin: 20px auto; 
        height: auto; 
        width: 90%; 
    }

    .caja1 {
        width: 100%;
        margin-bottom: 20px; 
    }

    .caja1 img {
        max-width: 100%; 
        height: auto;
    }

    .texto {
        width: 100%;
        text-align: center; /
    }

    .texto h1 {
        font-size: 28px;
    }

    .texto p {
        font-size: 18px;
    }


    .botones {
        flex-direction: row; 
        align-items: center;
        margin-top: 20px;
        margin-left: 20%;
    }

    .boton1, .boton2 {
        margin: 10px 0;
        width: 50%; 
    }
    .boton1 a, .boton2 a {
        font-size: 16px;
    }


    .habilidades {
        height: auto; 
        padding: 20px;
    }

    .habilidades h2 {
        font-size: 24px;
    }

    .habilidades p {
        font-size: 18px;
        margin: 20px 0;
    }

    .lenguajes {
        flex-direction: column; 
        margin: 0;
    }

    .bloque1, .bloque2 {
        flex-direction: column; 
        margin: 20px 0; 
    }

    .bloque1 img, .bloque2 img {
        margin: 10px 0; 
        width: 80px;
        height: 90px;
    }

    .bloque1 p, .bloque2 p {
        font-size: 16px;
    }

    .bloque2 {

        margin-left: 50%;

    }

    .proyectos h2 {
        font-size: 24px;
    }

    .proyectos p {
        font-size: 18px;
    }

    .proyec1, .proyec2, .proyec3, .proyec4 {
        flex-direction: column; 
        margin: 20px 0;
    }

    .proyectos img{

       margin-left: 10%;

    }

    .texto1, .texto2, .texto3, .texto4 {
        width: 100%;
        text-align: center;
    }

    .texto1 h2, .texto2 h2, .texto3 h2, .texto4 h2 {
        font-size: 20px;
    }

    .texto1 h3, .texto2 h3, .texto3 h3, .texto4 h3 {
        font-size: 18px;
    }

    .texto1 p, .texto2 p, .texto3 p, .texto4 p {
        font-size: 16px;
    }

    .formu {
        flex-direction: column; 
        height: auto;
        padding: 20px;
        align-items: center;
    }

    .info {
        margin: 0 auto 20px; 
        width: 90%;
        text-align: center;
    }

    .info h2 {
        font-size: 24px;
    }

    .info p {
        font-size: 16px;
        width: 100%; 
    }

    .telefono, .correo, .ubi {
        text-align: left;
        margin: 10px 0;
    }

    .telefono h3, .correo h3, .ubi h3{
        margin-left: 15%;
        font-size: 14px;
    }

    .telefono img, .correo img, .ubi img{
      width: 60px;
      height: 60px;
    }

    .formulario {
       width: 350px;
       height: 320px;
    }

    .formulario input {
        width: calc(100% - 40px); 
        height: 40px;
        font-size: 16px;
    }

    .mensaje input {
        height: 80px;
    }
    .botonenviar input{
        width: auto;
        padding: 10px 20px;
        font-size: 16px;
    }
}

@media screen and (max-width: 481px) { 
    .menu a {
        font-size: 14px; 
        padding: 10px 20px;
        margin-top: 10%;
        margin-right: 10%;
        margin-left: 5%;
        margin-bottom: 10%;
        
    }

    .menu{
        flex-direction: row;
    }

    .texto h1 {
        font-size: 24px; 
    }

    .texto p {
        font-size: 16px; 
    }


    .botones{

        flex-direction: row;
        margin-top: 20px;
        margin-left: 17%;
        
    }

    .boton1 a, .boton2 a {
        font-size: 14px;
    }

    .habilidades h2 {
        font-size: 20px;
    }

    .habilidades p {
        font-size: 16px;
    }

    .bloque1 img, .bloque2 img {
        width: 60px;
        height: 70px;
    }

    .bloque1 p, .bloque2 p {
        font-size: 14px;
    }

    .bloque2 {
       
        margin-left: 55%;

    }

    .proyectos h2 {
        font-size: 20px;
    }

    .proyectos p {
        font-size: 16px;
    }

    .texto1 h2, .texto2 h2, .texto3 h2, .texto4 h2 {
        font-size: 18px;
    }

    .texto1 h3, .texto2 h3, .texto3 h3, .texto4 h3 {
        font-size: 16px;
    }

    .texto1 p, .texto2 p, .texto3 p, .texto4 p {
        font-size: 14px;
    }

    .info h2 {
        font-size: 20px;
    }

    .info p {
        font-size: 14px;
    }
 
    .telefono img{

        width: 50px;
        height: 50px;

    }

    .correo img{

        width: 50px;
        height: 50px;

    }

    .ubi img{

        width: 50px;
        height: 50px;

    }

    .telefono h3{

        font-size: 12px;
        margin-left: 20%;
    }

    .correo h3{

        font-size: 12px;
        margin-left: 20%;
    }

    .ubi h3{

        font-size: 12px;
        margin-left: 20%;
        margin-bottom: 10%;
    }

    .formulario{

        height: 312px;
        width: 322px;
        margin-right: 5%;

    }

}